
<!-- Warming Up -->
<!-- <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script> -->

<!--Video Section-->
<!-- <section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=rQlvFYhlvBw',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>68K Offer</h1>
        <h3>Enjoy Life</h3>
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Join Us</a></p>
	   </div>
      </div>
    </div>
  </div>
</section> -->
<!--Video Section Ends Here -->

<!-- Both these should be added to within the <head> of your document-->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>


<!--Video Section-->
<section class="content-section video-section">
<div class="pattern-overlay">

<div class="container ">
<!-- this is the background video, inside container div, and height set to 100% in CSS  -->
    <a  id="bgndVideo" class="player"
    data-property="{videoURL:'https://www.youtube.com/watch?v=YyOENdBj5kA',
    containment:'body',
    quality:'hd720',
    autoPlay:true,
    mute:true,
    startAt: 6,

    opacity: 1}">bg</a>

<!--more VIDO  options at https://github.com/pupunzi/jquery.mb.YTPlayer/wiki -->

<div class="row">
        <div class="col-lg-12">

        <h1> ArtLife </h1>
        <h3>Enjoy The Life Learning <i class="fa fa-envira fa-1x"></i> Code </h3>

        <!-- Begin Mr. M.'s Rows -->


<div class="row">


            <div class="col-md-4 col-md-offset-4">
              <h2>It's time to love mondays</h2>
              <p>The world you have never seem before.</p>
              <p><a class="btn btn-default" href="/jobs" role="button">Start Your Job Search</a></p>


            </div><!--/span-->


          </div><!--/row-->


  <!-- END Mr. M.'s Rows -->





	   </div>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->
