// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {

  background-color: rgba(255, 255, 255, 0);
  background-image:url('https://picjumbo.imgix.net/HNCK8984.jpg?q=40&w=1650&sharp=30');
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 5px;
  margin-bottom: 70px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 0);
}


.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}

.body-fluid {
  background-image:url('https://picjumbo.imgix.net/HNCK8984.jpg?q=40&w=1650&sharp=30');
}

div.thumbnail{
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";         */
    /*filter: alpha(opacity=0);   */
    /*-moz-opacity: 0.0;           */
    /*-khtml-opacity: 0.0;         */
    /*opacity: 0.0;                */
    /*background: rgba(255,255,255,0);*/
    background-color: transparent !important;
    color: #ffffff;
    opacity: 0.2;
}
