
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                  <h3> Find a Job </h3>
                  <ul>
                      <li> <a href="#"> By Job Title </a> </li>
                      <li> <a href="#"> By Category </a> </li>
                      <li> <a href="#"> By Company </a> </li>
                      <li> <a href="#"> Advanced Search </a> </li>
                  </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Employers </h3>
                    <ul>
                        <li> <a href="#"> Post a Job </a> </li>
                        <li> <a href="#"> Recruiting Solutions </a> </li>
                        <li> <a href="#"> Request a Demo </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Contact Us </h3>
                    <ul>
                        <li> <a href="#"> 010-12345600 </a> </li>
                        <li> <a href="#"> 400-12345600 </a> </li>
                        <li> <a href="mailto:info@fullstack.com"> Send a Email </a> </li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> ArtLife Jobs </h3>
                    <ul>
                        <li> <a href="#"> About Us </a> </li>
                        <li> <a href="#"> Careers </a> </li>
                        <li> <a href="#"> Code of Conduct</a> </li>
                        <li> <a href="#"> FQA </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Follow Us </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Submit </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="https://github.com/antarts"> <i class="fa fa-github">   </i> </a> </li>
                        <li> <a href="https://stackoverflow.com/users/7378672/antarts-wu"> <i class="fa fa-stack-overflow">   </i> </a> </li>
                        <li> <a href="https://www.youtube.com/channel/UCWJo98xy1hSoWop7IKT_xSg"> <i class=" fa fa-youtube">   </i> </a> </li>
                        <li> <a href="https://twitter.com/Kupe_W"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="https://plus.google.com/117800183937696485324"> <i class="fa fa-google-plus">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © 2017 Rails101. Design by Antarts. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
